html,body{font-family: Verdana,Bitstream Vera Sans,sans-serif;margin:0;padding:0;width:100%;height:100%;}
body{background: #9E9E9E;}  /*padding-bottom:20px*/
body a:link { color: #000;text-decoration: none} 
body a:hover { color:  #000;text-decoration: none ;}
body a:active {color: #000; }
body a:visited { color: #000;text-decoration: none} 
/* Typographie CECEDF
a:visited { color: #000;text-decoration: None;}  a:link { color: #000;text-decoration: None}  a:hover { color:  #75A501;text-decoration: none ;}  a:active {color: #000; }
*/
a img{border:0;}
li{margin-left:18px;}
ul{margin:0px;padding:0px;}
.corpstexte{font-size : 10px;font-weight:bold;color:#000000;}
.corpsblack{font-size : 10px;color : #000000;}
textarea.corpsblack {font-family: Verdana,Bitstream Vera Sans,sans-serif;}
.corpsfooter {font-size : 10px;color: #000000;}
.corpsmini {font-size : 9px;color: #000000;}
.corpserror{font-size : 10px;color : #F60;}
.corpswhite{font-size : 11px;color : #FFF;}
.ui-tooltip{font-size : 12px;}


.modif{border-width:1px;border-style:solid;border-color:#FFFF00;background-color:#FFFFD2;font-size : 10px;}
.infobulle {POSITION: absolute;	visibility: visible;filter: Alpha(Opacity=90);-moz-opacity:0.9;opacity:0.9;border:1px solid #808080;padding-left:15px;margin:1px;font-family :  Arial;font-size : 11px;color : #000000;	background-color:#C9FD4E;}
.info { padding:0px;}
.coord {padding:2px;font-size: 10px;font-weight:bold;}
.survol {POSITION: absolute;VISIBILITY: hidden;border: 1px solid #000000;padding:2px;font-family :  Verdana;font-size : 11px;color : #000000;background-color:#FFFFFF;}
.fichetitre li{list-style-type:disc;}
.ficheContent{width:97%;margin:0 1.5%;}

div#header,div#headerv{width:98%;overflow:hidden;background: transparent;margin-left: 1%;}/*position:absolute;right:150px;bottom:0px;*/

#nav :focus{outline:none;}
ul#nav,ul#nav li{list-style-type:none;margin:0;padding:0;font-size:11px;}
ul#nav{float:left;}
ul#nav li{float:left;margin-left: 3px;text-align: center;font-size:11px;}
ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #EDFFDD;color: #050;font-weight:bold;}
ul#nav a{text-decoration:none;float:left;width: 125px;padding: 3px 0;color: #fff;}
ul#nav a:hover{background: #CDFFA1;color: #006A35}
ul#nav #ALERT_tab a:hover{background: #FFCEA2;color: #6A3300}
ul#nav li#ALERT_tab.activelink  a, ul#nav li#ALERT_tab.activelink  a:hover{background: #FFE8D2;color: #050;font-weight:bold;}
div#container{width:98%;margin:0% 1%;padding:0px;text-align:left;overflow:auto; }
div#container a:visited { color: #000;text-decoration: none;}


.btn_racc  div{background-color:#FFE9D2;cursor:pointer;color:#000000;width:150px;}
.btn_racc  div:hover{background-color:#FF8401;color: #FFFFFF;}
.btn_png  a img{border:0px solid transparent;}
.btn_png a img:hover{background: transparent url(../images/default/bg.png) no-repeat;}
.btn_png :active{outline:none;}
.btn_png :focus{outline:none;}
tr.btn td.btnHover:hover{background-color:#FF8401;color: #FFFFFF;}
tr.btn:hover td.btnHover{	background-color:#FF8401;	color: #FFFFFF;}
tr.btn td.btnHover{	border-top:1px solid #C0C0C0;	height:19px;	cursor:pointer;}
tr.btnActive td.btnHover{	background-color:#FF8401;	color: #FFFFFF;}
.pngon{background: transparent url(../images/default/bg.png) no-repeat;}
.pngoff{background-color:transparent;}

legend{	margin-left:10px;}

a.bigbtn:hover {
display: block;
width:64px;
height:64px;
background-image:url(../images/default/bouton1_on.png);
text-decoration:none;
}
.bigbtn{
	cursor:pointer;
	display: block;
	width:64px;
	height:64px;
	background-image:url(../images/default/bouton1_off.png);
}

.groupetable{
	/* background: url("../images/fd_bleu.png") repeat scroll 0 0 transparent; */
	background:url("../images/fd_bleu.png") repeat scroll 0 0 #0391E3 !important;
	color: #FFFFFF !important;
	height: 18px;
	padding-left: 15px;
}
.groupetable ul{margin:0px;padding:0px;}
.groupetable li{list-style-type:disc;}

.legend_on a{	cursor:pointer;	display:block;	background: url(../images/sprites+.png) no-repeat top left; background-position: 0 0; width: 14px; height: 14px;;}
.legend_on a:hover{	background: url(../images/sprites+.png) no-repeat top left; background-position: 0 -64px; width: 14px; height: 14px;}
.legend_off a{	cursor:pointer;	display:block;	background: url(../images/sprites+.png) no-repeat top left; background-position: 0 -128px; width: 14px; height: 14px;}
.legend_off a:hover{	background: url(../images/sprites+.png) no-repeat top left; background-position: 0 -192px; width: 14px; height: 14px;}
/*   On gère l'effet survol des lignes   */
tr.bgrow:hover td{background-color:#E3F1FF;}
td.bgcell:hover {background-color:#E3F1FF;}

div.rate {
	background: #00b7ea; /* old browsers */
	background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* ie */
}

/*Tableau dans accordion*/
.tab_accord table{padding:2px;}
.tab_accord table td{border-style:none;padding:2px;}
.tab_accord table th{border-style:none;padding:2px;}

/*JQ - AUtocompletion*/
.autocomplete{font-size : 10px;}
/*JQ - DatePicker*/
#ui-datepicker-div { font-size: 10px; } 
.ui-datepicker{width:19em;}
/*JQ - Slider*/
.ui-slider-range { background: #D8D8D8; }
/*JQ - Progressbar*/
.ui-progressbar .ui-progressbar-value { background-image: url(../extras/jquery_ui/1.10.4/development-bundle/demos/progressbar/images/pbar-ani.gif); }
/*JQ - Dialog*/
.ui-dialog .ui-dialog-buttonpane { margin:0px;padding:0px; }
/*JQ - ColorPicker*/
div.colorPicker-palette{z-index: 1021;}

a.puceGeo {
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	font-size: 10.998px;
	font-weight: 700;
	line-height: 13px;
	padding: 1px 4px 2px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: middle;
	white-space: nowrap; 
	background: none repeat scroll 0 0 #6480A7; 
	cursor:default;
}
/*Boutons dans le menu*/
.btn_jqui span{padding:1px !important;font-size:	11px !important;}
a.btn_jqui {padding:1px !important; border: 2px solid #D3D3D3 !important;}
/*Strates*/
.accordion_strate > .ui-accordion-content{padding:1em !important;}
a.btn_selected{border-color:#FF8401 !important;color:#FF8401 !important;}/*font-weight: bold !important;*/
._exec a { border: 2px solid #D3D3D3 !important;font-weight: bold !important;}
.btn_filtre.selected { border: 2px solid #FF8401 !important; color: #FF8401 !important;}